

 body {
   /*position: relative;*/
   background-color: #fffff;
   color: #555;
   font-family: 'Ubuntu', sans-serif;
   height: 100%;
 }

 /**********/
 /* HEADER */
 /**********/


 #page-header {
   border-bottom: 1px solid gray;
 }

 .logo {
   font-size: 32pt;
   text-align: center;
   margin-left: 0, 100px, 0, 100px;
   padding: 0;

 }

 /*********/
 /* NAV   */
 /*********/

 .nav {
   float: right;
   padding: 0;
   margin: 10px;
   list-style-type: none;
 }

 .nav li {
   display: inline-block;
   margin: 5px;
   border: 1px solid black;
 }

 .nav a {
   float: left;
   width: 100px;
   text-decoration: none;
   background-color: white;
   padding: 0.2em 0.6em;
   text-align: center;
 }

 .nav a:hover {
   background-color: #eeeeee;
 }

 /*********/
 /* UI    */
 /*********/

 img.post {
   width: 400px;
   margin: 30px;
 }

 .post-actions {
   width: 200px;
 }

 .post-actions input[type='submit']{
   float: left;
 }

 /*.song-list {
   border: 1px solid black;
   padding-left: 20px;
   margin: 10px;
   width: 400px;
   float: right;
 }*/

 /*.song-list ul {
   padding: 0;
 }*/

 li {
   list-style: none;
 }

 /*********/
 /* FORMS */
 /*********/

 form.post {
   float: left;
 }

 label, input {
   display: inline-block; /* in order to define widths */
 }

 label {
   width: 30%;
   text-align: right; /* positions the label text beside the input */
 }

 label + input {
   width: 30%;
     /* large margin-right to force the next element to the new-line
        and margin-left to create a gutter between the label and input */
   margin: 10px 30% 0 4%;
 }

 /* only the submit button is matched by this selector,
    but to be sure you could use an id or class for that button */
 input[type='submit'] {
   float: right;
   margin: 10px 35% 0 0;
 }
